/system/product/overlay/LineIconsOverlay/aapt.exe
/system/product/overlay/LineIconsOverlay/ThemedIconsOverlay.apk
/system/product/overlay/FilledIconsOverlay/aapt.exe
/system/product/overlay/FilledIconsOverlay/ThemedIconsOverlay.apk