/system/product/overlay/FilledIconsOverlay/res
/system/product/overlay/FilledIconsOverlay/Android.bp
/system/product/overlay/FilledIconsOverlay/AndroidManifest.xml

/system/product/overlay/LineIconsOverlay/res
/system/product/overlay/LineIconsOverlay/Android.bp
/system/product/overlay/LineIconsOverlay/AndroidManifest.xml